.page-header {
  text-align: center;
  padding: 1.5rem;
  background-color: #1180da;
  color: rgb(47, 41, 99);
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 2rem;
}

.posts-card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #0ee7ca;
  display: flex;
  flex-direction: column;
}

.posts-card button {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
}
